<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Jane Austen</title>
    <!-- Stylesheets-->
    <link href="/stylesheets/style.css" media="screen and (min-width: 1025px)" rel="stylesheet" type="text/css">
    <link href="/stylesheets/mobile.css" media="screen and (max-width: 640px)" rel="stylesheet" type="text/css">
    <link href="/stylesheets/tablet.css" media="screen and (min-width: 641px) and (max-width: 1024px)" rel="stylesheet" type="text/css">
    <!-- Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Marck+Script" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/font-awesome/css/all.min.css" type="text/css" rel="stylesheet">
    <!--Bootstrap-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <header>
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark">
          <h1 class="navbar-brand"><a href="/">Jane Austen</a></h1>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/about">About Jane</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/books">Works</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/advice">Advice</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/media">Media</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <main>