<%- include("partials/header") %>

<div class="container">
    <section id="bio">
        <h2 class="text-center">About Jane Austen</h2>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <img src="https://collectionimages.npg.org.uk/large/mw00230/Jane-Austen.jpg" alt="Jane Austen portrait" class="img-fluid" />
                <p class="text-center">Jane Austen portrait. Created by Cassandra Austen</p>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
                <p>What a triumph for him, as she often thought, could he know that the proposals which she had proudly spurned only four months ago, would now have been most gladly and gratefully received! He was as generous, she doubted not, as the most generous of his sex; but while he was mortal, there must be a triumph.</p>

                <p>She began now to comprehend that he was exactly the man who, in disposition and talents, would most suit her. His understanding and temper, though unlike her own, would have answered all her wishes. It was an union that must have been to the advantage of both; by her ease and liveliness, his mind might have been softened, his manners improved; and from his judgement, information, and knowledge of the world, she must have received benefit of greater importance.</p>

                <p>But no such happy marriage could now teach the admiring multitude what connubial felicity really was. An union of a different tendency, and precluding the possibility of the other, was soon to be formed in their family.</p>
            </div>
        </div>
    </section>

    <section id="timeline">
        <div class="jumbotron">
            <h3 class="text-center">Timeline</h3>
            <div class="row">
                <div class="dates">
                    <div class="col-sm-12 offset-sm-1 col-md-12 offset-md-2 col-lg-12 offset-lg-1">
                        <h4>Steventon Years: 1775-1798</h4>
                        <ul>
                            <li>1775: Jane is born at Steventon in Hampshire on December 16.</li>
                            <li>1783: Jane and Cassandra briefly live with Mrs. Ann Crawley to be educated.</li>
                            <li>1785: Jane and Cassandra attends Reading Abbey Girls' School in Reading.</li>
                            <li>1786: Jane and Cassandra leave Reading Abbey Girls' School when school fees became too expensive.</li>
                            <li>1787: Jane begins writing her Juvenilia.</li>
                            <li>1790: Jane writes <em>Love and Friendship</em>.</li>
                            <li>1791: Jane writes <em>The History of England</em>.</li>
                            <li>1794: Jane writes <em>Lady Susan</em>.</li>
                            <li>1795: Jane begins writing <em>Elinor and Marianne</em>. This will later become <em>Sense and Sensibility</em>.</em></li>
                            <li>1796: Jane begins writing <em>First Impressions</em>. This will become <em>Pride and Prejudic</em>.</li>
                            <li>1797: Jane's father sends a letter offering the manuscript for <em>First Impressions</em> to publisher. This offer was rejected.</li>
                            <li>1798: Jane begins writing <em>Susan</em>. This will become <em>Northanger Abbey</em>.</li>
                        </ul>
    
                        <h4>Bath Years: 1801-1809</h4>
                        <ul>
                            <li>1801: Jane moves with her parents and Cassandra to Bath.</li>
                            <li>1803: Jane sells <em>Susan</em> to a publisher.</li>
                            <li>1804: Jane begins writing <em>The Watsons</em> but eventually abandons it.</li>
                            <li>1805: Jane's father dies in Bath.</li>
                            <li>1806: Jane moves with her mother and Cassandra to Southampton.</li>
                        </ul>
    
                        <h4>Chawton Years: 1809-1817</h4>
                        <ul>
                            <li>1809: Jane, Cassandra, her mother, and Martha Lloyd move to Chawton Cottage.</li>
                            <li>1811: <em>Sense and Sensibilty</em> is published.</li>
                            <li>1813: <em>Pride and Prejudice</em> is published.
                            <li>1814: <em>Mansfield Park</em> is published.</li>
                            <li>1815: <em>Emma</em> is published.</li>
                            <li>1816: Jane revises <em>Susan</em> and finishes writing <em>Persuasion</em>.</li>
                            <li>1817: Jane dies at Winchester on July 18. She is buried days later at Winchester Cathedral.</li>
                            <ul>
                                <li>January: Jane begins writing <em>Sanditon</em> but eventually abandons it due to ill health.</li>
                                <li>December: <em>Northanger Abbey</em> and <em>Persuasion</em> are published.</li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<%- include("partials/footer") %>