<%- include("partials/header") %>

<div class="container jumbotron">
    <section id="about">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <h2>Jane Austen</h2>
            <h3>They were all astonished; and Mr. Bennet, who could by no means wish for so speedy a return, immediately said:</h3>
        </div>

        <div class="thumbnail">
            <img src="https://collectionimages.npg.org.uk/large/mw00230/Jane-Austen.jpg" alt="Jane Austen portrait" class="img-responsive">
        </div>
    </section>
</div>

<%- include("partials/footer") %>