<%- include("partials/header") %>

<div class="container jumbotron">
    <section id="about">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <h2>Jane Austen</h2>
            <h3>The author of <em>Sense and Sensbility</em>, <em>Pride and Prejudice</em>, and <em>Emma</em></h3>
        
            <div class="thumbnail">
                <img src="https://collectionimages.npg.org.uk/large/mw00230/Jane-Austen.jpg" alt="Jane Austen portrait" class="img-responsive">
            </div>

            <div class="caption">
                <p>Jane Austen portrait. Created by Cassandra Austen</p>
            </div>
        </div>
    </section>

    <section id="timeline">
        <div class="row">
            <h2 class="text-center">Jane Austen's Timeline</h2>
            <div class="dates">
                <div class="col-sm-12 col-sm-offset-1 col-md-12 col-md-offset-2 col-lg-12">
                    <ul>
                        <li><strong>1775:</strong> Jane Austen is born in Steventon, Hampshire on December 16.</li>
                        <li><strong>1775-1798:</strong> Steventon Years</li>
                            <ul>
                                <li>Jane begins writing as a child. These works will be known as her Juvenilia.</li>
                                <li>At 19 years old, she writes Lady Susan.</li>
                                <li>In her early twenties, Jane writes <em>Elinor and Marianne</em> and <em>First Impressions</em>.</li>
                                <li>1797: Jane's father sends a letter offering the manuscript for <em>First Impressions</em> to publisher. This offer was rejected.</li>
                                <li>1803: Jane sells her novel <em>Susan</em> to the publisher.</li>
                            </ul>
                        <li><strong>Bath Years:</strong></li>
                            <ul>
                                <li>At 25 years old, Jane moves with her parents and sisters to Bath.</li>
                            </ul>
                        <li><strong>Chawton Years:</strong></li>
                        <li><strong>Final Months:</strong></li>
                        <li><strong>Legacy:</strong></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>

<%- include("partials/footer") %>