<%- include("partials/header") %>

<div class="container jumbotron">
    <section id="about">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <h2>Jane Austen</h2>
            <h3>The author of <em>Sense and Sensbility</em>, <em>Pride and Prejudice</em>, and <em>Emma</em></h3>
        
            <div class="thumbnail">
                <img src="https://collectionimages.npg.org.uk/large/mw00230/Jane-Austen.jpg" alt="Jane Austen portrait" class="img-responsive">
            </div>

            <div class="caption">
                <p>Jane Austen portrait. Created by Cassandra Austen</p>
            </div>
        </div>
    </section>

    <section id="timeline">
        <h2 class="text-center">Jane Austen's Timeline</h2>
        <div class="row">
            <div class="dates">
                <div class="col-sm-12 offset-sm-1 col-md-12 offset-md-2 col-lg-12 offset-lg-1">
                    <ul>
                        <li><strong>1775:</strong> Jane Austen is born in Steventon, Hampshire on December 16.</li>
                        <li><strong>1775-1798:</strong> Steventon Years</li>
                            <ul>
                                <li>1787-1793: Jane begins writing. Many of the poems and stories she wrote during this period would be known as Juvenilia.</li>
                                <li>1783: Jane and Cassandra are sent to be educated by Mrs. Ann Crawley. The two return home in the autumn when they caught typhus with Jane nearly dying from the illness.</li>
                                <li>1785: Jane and Cassandra attends Reading Abbey Girls' School in Reading.</li>
                                <li>1786: Jane and Cassandra leave Reading Abbey Girls' School and go back to Steventon when school fees became too expensive.</li>
                                <li>1790: Jane writes <em>Love and Friendship</em>.</li>
                                <li>1791: Jane writes <em>The History of England</em>.</li>
                                <li>1793-1795: Jane writes <em>Lady Susan</em>.</li>
                                <li>1796: Jane begins writing <em>First Impressions</em>.</li>
                                <li>1797: Jane's father sends a letter offering the manuscript for <em>First Impressions</em> to publisher. This offer was rejected.</li>
                                <li>1798: Jane begins writing <em>Susan</em>. This would ater become <em>Northanger Abbey</em>.</li>
                                <li>1803: Jane sells her novel <em>Susan</em> to the publisher.</li>
                            </ul>
                        <li><strong>Bath Years:</strong></li>
                            <ul>
                                <li>At 25 years old, Jane moves with her parents and sisters to Bath.</li>
                                <li>1806: Jane moves with her mother and Cassandra to Southampton.</li>
                            </ul>
                        <li><strong>Chawton Years:</strong></li>
                        <li><strong>Final Months:</strong></li>
                        <li><strong>Legacy:</strong></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>

<%- include("partials/footer") %>