<%- include("partials/header") %>

<div class="container">
    <h2 class="text-center">Dear Jane</h2>
    <p>Elizabeth would not oppose such an injunction--and a moment’s consideration making her also sensible that it would be wisest to get it over as soon and as quietly as possible, she sat down again and tried to conceal, by incessant employment the feelings which were divided between distress and diversion. Mrs. Bennet and Kitty walked off, and as soon as they were gone, Mr. Collins began.</p>
    
    <section id="rules">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h3>How to Submit a Request</h3>
                <p>Elizabeth would not oppose such an injunction--and a moment’s consideration making her also sensible that it would be wisest to get it over as soon and as quietly as possible, she sat down again and tried to conceal, by incessant employment the feelings which were divided between distress and diversion. Mrs. Bennet and Kitty walked off, and as soon as they were gone, Mr. Collins began.</p>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
                <p>Elizabeth would not oppose such an injunction--and a moment’s consideration making her also sensible that it would be wisest to get it over as soon and as quietly as possible, she sat down again and tried to conceal, by incessant employment the feelings which were divided between distress and diversion. Mrs. Bennet and Kitty walked off, and as soon as they were gone, Mr. Collins began.</p>
            </div>
        </div>
    </section>
</div>

<%- include("partials/footer") %>