<%- include("partials/header") %>

<div class="container">
    <h2 class="text-center">Jane Austen's Works</h2>
    <section id="novels">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h3>Sense and Sensibilty</h3>
                <p>“A thorough, determined dislike of me--a dislike which I cannot but attribute in some measure to jealousy. Had the late Mr. Darcy liked me less, his son might have borne with me better; but his father’s uncommon attachment to me irritated him, I believe, very early in life. He had not a temper to bear the sort of competition in which we stood--the sort of preference which was often given me.”</p>
                <button class="btn btn-block btn-primary">Learn More</button>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/SenseAndSensibilityTitlePage.jpg/800px-SenseAndSensibilityTitlePage.jpg" alt="Sense and Sensibilty cover page" class="img-responsive">
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
                <h3>Pride and Prejudice</h3>
                <p>“A thorough, determined dislike of me--a dislike which I cannot but attribute in some measure to jealousy. Had the late Mr. Darcy liked me less, his son might have borne with me better; but his father’s uncommon attachment to me irritated him, I believe, very early in life. He had not a temper to bear the sort of competition in which we stood--the sort of preference which was often given me.”</p>
                <button class="btn btn-block btn-primary">Learn More</button>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/PrideAndPrejudiceTitlePage.jpg/220px-PrideAndPrejudiceTitlePage.jpg" alt="Sense and Sensibilty cover page" class="img-responsive">
            </div>
        </div>
    </section>

    <section id="juvenila">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <h3>Volume One</h3>
                <ul>
                    <li>Frederic & Elfrida</li>
                    <li>Jack & Alice</li>
                    <li>Edgar & Emma</li>
                    <li>Henry and Eliza</li>
                    <li>The Adventures of Mr. Harley</li>
                    <li>Sir William Mountague</li>
                    <li>Memoirs of Mr. Clifford</li>
                    <li>The Beautiful Cassandra</li>
                    <li>Amelia Webster</li>
                    <li>The Visit</li>
                    <li>The Mystery</li>
                    <li>The Three Sisters</li>
                    <li>A Beautiful Description</li>
                    <li>The Generous Curate</li>
                    <li>Ode to Pity</li>
                </ul>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4">
                <h3>Volume Two</h3>
                <ul>
                    <li>Love and Friendship</li>
                    <li>Lesley Castle</li>
                    <li>The History of England</li>
                    <li>A Collection of Letters</li>
                    <li>The Female Philosopher</li>
                    <li>The First Act of a Comedy</li>
                    <li>A Letter from a Young Lady</li>
                    <li>A Tour through Wales</li>
                    <li>A Tale</li>
                </ul>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4">
                <h3>Volume Three</h3>
                <ul>
                    <li>Evelyn</li>
                    <li>Catherine, or The Bower</li>
                </ul>
            </div>
        </div>
    </section>

    <section id="misc">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h3>Other Works</h3>
                <ul>
                    <li>Sir Charles Gardison</li>
                    <li>Plan of a Novel</li>
                    <li>Poems</li>
                    <li>Prayers</li>
                    <li>Letters</li>
                </ul>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
                <h3>Unfinished Works</h3>
                <ul>
                    <li>The Watsons</li>
                    <li>Sanditon</li>
                </ul>
            </div>
        </div>
    </section>
</div>

<%- include("partials/footer") %>