<%- include("partials/header") %>

<div class="container">
    <h2 class="text-center">Jane Austen's Works</h2>
    <p>Occupied in observing Mr. Bingley’s attentions to her sister, Elizabeth was far from suspecting that she was herself becoming an object of some interest in the eyes of his friend. Mr. Darcy had at first scarcely allowed her to be pretty; he had looked at her without admiration at the ball; and when they next met, he looked at her only to criticise. But no sooner had he made it clear to himself and his friends that she hardly had a good feature in her face, than he began to find it was rendered uncommonly intelligent by the beautiful expression of her dark eyes. To this discovery succeeded some others equally mortifying. Though he had detected with a critical eye more than one failure of perfect symmetry in her form, he was forced to acknowledge her figure to be light and pleasing; and in spite of his asserting that her manners were not those of the fashionable world, he was caught by their easy playfulness. Of this she was perfectly unaware; to her he was only the man who made himself agreeable nowhere, and who had not thought her handsome enough to dance with.</p>
    <section id="novels">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h3>Novels</h3>
                <h4>Sense and Sensibility</h4>
                <p>Occupied in observing Mr. Bingley’s attentions to her sister, Elizabeth was far from suspecting that she was herself becoming an object of some interest in the eyes of his friend. Mr. Darcy had at first scarcely allowed her to be pretty; he had looked at her without admiration at the ball; and when they next met, he looked at her only to criticise. But no sooner had he made it clear to himself and his friends that she hardly had a good feature in her face, than he began to find it was rendered uncommonly intelligent by the beautiful expression of her dark eyes. To this discovery succeeded some others equally mortifying. Though he had detected with a critical eye more than one failure of perfect symmetry in her form, he was forced to acknowledge her figure to be light and pleasing; and in spite of his asserting that her manners were not those of the fashionable world, he was caught by their easy playfulness. Of this she was perfectly unaware; to her he was only the man who made himself agreeable nowhere, and who had not thought her handsome enough to dance with.</p>

                <h4>Pride and Prejudice</h4>
                <p>Occupied in observing Mr. Bingley’s attentions to her sister, Elizabeth was far from suspecting that she was herself becoming an object of some interest in the eyes of his friend. Mr. Darcy had at first scarcely allowed her to be pretty; he had looked at her without admiration at the ball; and when they next met, he looked at her only to criticise. But no sooner had he made it clear to himself and his friends that she hardly had a good feature in her face, than he began to find it was rendered uncommonly intelligent by the beautiful expression of her dark eyes. To this discovery succeeded some others equally mortifying. Though he had detected with a critical eye more than one failure of perfect symmetry in her form, he was forced to acknowledge her figure to be light and pleasing; and in spite of his asserting that her manners were not those of the fashionable world, he was caught by their easy playfulness. Of this she was perfectly unaware; to her he was only the man who made himself agreeable nowhere, and who had not thought her handsome enough to dance with.</p>
                
                <h4>Mansfield Park</h4>
                <p>Occupied in observing Mr. Bingley’s attentions to her sister, Elizabeth was far from suspecting that she was herself becoming an object of some interest in the eyes of his friend. Mr. Darcy had at first scarcely allowed her to be pretty; he had looked at her without admiration at the ball; and when they next met, he looked at her only to criticise. But no sooner had he made it clear to himself and his friends that she hardly had a good feature in her face, than he began to find it was rendered uncommonly intelligent by the beautiful expression of her dark eyes. To this discovery succeeded some others equally mortifying. Though he had detected with a critical eye more than one failure of perfect symmetry in her form, he was forced to acknowledge her figure to be light and pleasing; and in spite of his asserting that her manners were not those of the fashionable world, he was caught by their easy playfulness. Of this she was perfectly unaware; to her he was only the man who made himself agreeable nowhere, and who had not thought her handsome enough to dance with.</p>
                
                <h4>Emma</h4>
                <p>Occupied in observing Mr. Bingley’s attentions to her sister, Elizabeth was far from suspecting that she was herself becoming an object of some interest in the eyes of his friend. Mr. Darcy had at first scarcely allowed her to be pretty; he had looked at her without admiration at the ball; and when they next met, he looked at her only to criticise. But no sooner had he made it clear to himself and his friends that she hardly had a good feature in her face, than he began to find it was rendered uncommonly intelligent by the beautiful expression of her dark eyes. To this discovery succeeded some others equally mortifying. Though he had detected with a critical eye more than one failure of perfect symmetry in her form, he was forced to acknowledge her figure to be light and pleasing; and in spite of his asserting that her manners were not those of the fashionable world, he was caught by their easy playfulness. Of this she was perfectly unaware; to her he was only the man who made himself agreeable nowhere, and who had not thought her handsome enough to dance with.</p>

                <h4>Northanger Abbey</h4>
                <p>Occupied in observing Mr. Bingley’s attentions to her sister, Elizabeth was far from suspecting that she was herself becoming an object of some interest in the eyes of his friend. Mr. Darcy had at first scarcely allowed her to be pretty; he had looked at her without admiration at the ball; and when they next met, he looked at her only to criticise. But no sooner had he made it clear to himself and his friends that she hardly had a good feature in her face, than he began to find it was rendered uncommonly intelligent by the beautiful expression of her dark eyes. To this discovery succeeded some others equally mortifying. Though he had detected with a critical eye more than one failure of perfect symmetry in her form, he was forced to acknowledge her figure to be light and pleasing; and in spite of his asserting that her manners were not those of the fashionable world, he was caught by their easy playfulness. Of this she was perfectly unaware; to her he was only the man who made himself agreeable nowhere, and who had not thought her handsome enough to dance with.</p>
                
                <h4>Persuasion</h4>
                <p>Occupied in observing Mr. Bingley’s attentions to her sister, Elizabeth was far from suspecting that she was herself becoming an object of some interest in the eyes of his friend. Mr. Darcy had at first scarcely allowed her to be pretty; he had looked at her without admiration at the ball; and when they next met, he looked at her only to criticise. But no sooner had he made it clear to himself and his friends that she hardly had a good feature in her face, than he began to find it was rendered uncommonly intelligent by the beautiful expression of her dark eyes. To this discovery succeeded some others equally mortifying. Though he had detected with a critical eye more than one failure of perfect symmetry in her form, he was forced to acknowledge her figure to be light and pleasing; and in spite of his asserting that her manners were not those of the fashionable world, he was caught by their easy playfulness. Of this she was perfectly unaware; to her he was only the man who made himself agreeable nowhere, and who had not thought her handsome enough to dance with.</p>

                <h4>Lady Susan</h4>
                <p>Occupied in observing Mr. Bingley’s attentions to her sister, Elizabeth was far from suspecting that she was herself becoming an object of some interest in the eyes of his friend. Mr. Darcy had at first scarcely allowed her to be pretty; he had looked at her without admiration at the ball; and when they next met, he looked at her only to criticise. But no sooner had he made it clear to himself and his friends that she hardly had a good feature in her face, than he began to find it was rendered uncommonly intelligent by the beautiful expression of her dark eyes. To this discovery succeeded some others equally mortifying. Though he had detected with a critical eye more than one failure of perfect symmetry in her form, he was forced to acknowledge her figure to be light and pleasing; and in spite of his asserting that her manners were not those of the fashionable world, he was caught by their easy playfulness. Of this she was perfectly unaware; to her he was only the man who made himself agreeable nowhere, and who had not thought her handsome enough to dance with.</p>
            </div>
        </div>
    </section>

    <section id="juvenila">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <h3>Volume One</h3>
                <ul>
                    <li>Frederic & Elfrida</li>
                    <li>Jack & Alice</li>
                    <li>Edgar & Emma</li>
                    <li>Henry and Eliza</li>
                    <li>The Adventures of Mr. Harley</li>
                    <li>Sir William Mountague</li>
                    <li>Memoirs of Mr. Clifford</li>
                    <li>The Beautiful Cassandra</li>
                    <li>Amelia Webster</li>
                    <li>The Visit</li>
                    <li>The Mystery</li>
                    <li>The Three Sisters</li>
                    <li>A Beautiful Description</li>
                    <li>The Generous Curate</li>
                    <li>Ode to Pity</li>
                </ul>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4">
                <h3>Volume Two</h3>
                <ul>
                    <li>Love and Friendship</li>
                    <li>Lesley Castle</li>
                    <li>The History of England</li>
                    <li>A Collection of Letters</li>
                    <li>The Female Philosopher</li>
                    <li>The First Act of a Comedy</li>
                    <li>A Letter from a Young Lady</li>
                    <li>A Tour through Wales</li>
                    <li>A Tale</li>
                </ul>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4">
                <h3>Volume Three</h3>
                <ul>
                    <li>Evelyn</li>
                    <li>Catherine, or The Bower</li>
                </ul>
            </div>
        </div>
    </section>

    <section id="misc">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h3>Other Works</h3>
                <ul>
                    <li>Sir Charles Gardison</li>
                    <li>Plan of a Novel</li>
                    <li>Poems</li>
                    <li>Prayers</li>
                    <li>Letters</li>
                </ul>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
                <h3>Unfinished Works</h3>
                <ul>
                    <li>The Watsons</li>
                    <li>Sanditon</li>
                </ul>
            </div>
        </div>
    </section>
</div>

<%- include("partials/footer") %>