<%- include("partials/header") %>

<div class="container">
    <section id="new-works">
        <h2 class="text-center">Works</h2>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <img src="https://images-na.ssl-images-amazon.com/images/I/416G+T5xeAL._SX314_BO1,204,203,200_.jpg" alt="Lady Susan Book Cover" class="img-thumbnail" />
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
                <h4>Lady Susan</h4>
                <p>More than once did Elizabeth, in her ramble within the park, unexpectedly meet Mr. Darcy. She felt all the perverseness of the mischance that should bring him where no one else was brought, and, to prevent its ever happening again, took care to inform him at first that it was a favourite haunt of hers. How it could occur a second time, therefore, was very odd! Yet it did, and even a third. It seemed like wilful ill-nature, or a voluntary penance, for on these occasions it was not merely a few formal inquiries and an awkward pause and then away, but he actually thought it necessary to turn back and walk with her. He never said a great deal, nor did she give herself the trouble of talking or of listening much; but it struck her in the course of their third rencontre that he was asking some odd unconnected questions--about her pleasure in being at Hunsford, her love of solitary walks, and her opinion of Mr. and Mrs. Collins’s happiness; and that in speaking of Rosings and her not perfectly understanding the house, he seemed to expect that whenever she came into Kent again she would be staying there too. His words seemed to imply it. Could he have Colonel Fitzwilliam in his thoughts? She supposed, if he meant anything, he must mean an allusion to what might arise in that quarter. It distressed her a little, and she was quite glad to find herself at the gate in the pales opposite the Parsonage.</p>

                <p>She was engaged one day as she walked, in perusing Jane’s last letter, and dwelling on some passages which proved that Jane had not written in spirits, when, instead of being again surprised by Mr. Darcy, she saw on looking up that Colonel Fitzwilliam was meeting her. Putting away the letter immediately and forcing a smile, she said:</p>

                <p>“I did not know before that you ever walked this way.”</p>
                <button class="btn btn-block">Learn More</button>
            </div>
        </div>
    </section>

    <section id="novels">
        <h3>Novels</h3>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <img src="http://www.mollands.net/etexts/images/snsillus/snsbrockwc1.jpg" class="img-thumbnail" alt="Sense and Sensibilty Title Page" />
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
                <h4>Sense & Sensibilty</h4>
                <p>What a triumph for him, as she often thought, could he know that the proposals which she had proudly spurned only four months ago, would now have been most gladly and gratefully received! He was as generous, she doubted not, as the most generous of his sex; but while he was mortal, there must be a triumph.</p>

                <p>She began now to comprehend that he was exactly the man who, in disposition and talents, would most suit her. His understanding and temper, though unlike her own, would have answered all her wishes. It was an union that must have been to the advantage of both; by her ease and liveliness, his mind might have been softened, his manners improved; and from his judgement, information, and knowledge of the world, she must have received benefit of greater importance.</p>

                <p>But no such happy marriage could now teach the admiring multitude what connubial felicity really was. An union of a different tendency, and precluding the possibility of the other, was soon to be formed in their family.</p>
                <button class="btn btn-block btn-primary">Learn More</button>
            </div>
        </div>
  
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <img src="http://www.mollands.net/etexts/images/pnpillus/pnpbrockwc1.jpg" alt="Pride and Prejudice title page" class="img-thumbnail" />
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
                <h4>Pride & Prejudice</h4>
                <p>“A thorough, determined dislike of me--a dislike which I cannot but attribute in some measure to jealousy. Had the late Mr. Darcy liked me less, his son might have borne with me better; but his father’s uncommon attachment to me irritated him, I believe, very early in life. He had not a temper to bear the sort of competition in which we stood--the sort of preference which was often given me.”</p>
                <button class="btn btn-block btn-primary">Learn More</button>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <img src="http://www.mollands.net/etexts/images/mpillus/mpbrockwc1.jpg" alt="Mansfield Park title page" class="img-thumbnail" />
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
                <h4>Mansfield Park</h4>
                <p>Elizabeth would not oppose such an injunction--and a moment’s consideration making her also sensible that it would be wisest to get it over as soon and as quietly as possible, she sat down again and tried to conceal, by incessant employment the feelings which were divided between distress and diversion. Mrs. Bennet and Kitty walked off, and as soon as they were gone, Mr. Collins began.</p>
                <button class="btn btn-block btn-primary">Learn More</button>
            </div>
        </div>
            
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <img src="http://www.mollands.net/etexts/images/emmaillus/emmabrockwc1.jpg" alt="Emma Title Page" class="img-thumbnail" />
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
                <h4>Emma</h4>
                <p>Elizabeth would not oppose such an injunction--and a moment’s consideration making her also sensible that it would be wisest to get it over as soon and as quietly as possible, she sat down again and tried to conceal, by incessant employment the feelings which were divided between distress and diversion. Mrs. Bennet and Kitty walked off, and as soon as they were gone, Mr. Collins began.</p>
                <button class="btn btn-block btn-primary">Learn More</button>
            </div> 
        </div>    

        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <img src="http://www.mollands.net/etexts/images/naillus/nabrockwc1.jpg" alt="Northanger Abbey title page" class="img-thumbnail" />
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
                <h4>Northanger Abbey</h4>
                <p>Elizabeth would not oppose such an injunction--and a moment’s consideration making her also sensible that it would be wisest to get it over as soon and as quietly as possible, she sat down again and tried to conceal, by incessant employment the feelings which were divided between distress and diversion. Mrs. Bennet and Kitty walked off, and as soon as they were gone, Mr. Collins began.</p>
                <button class="btn btn-block btn-primary">Learn More</button>
            </div>
        </div>    
      
        <div class="row"> 
            <div class="col-sm-12 col-md-6 col-lg-6">
                <img src="http://www.mollands.net/etexts/images/prsillus/prsbrockwc1.jpg" alt="Persuasion title page" class="img-thumbnail" />
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
                <h4>Persuasion</h4>
                <p>Elizabeth would not oppose such an injunction--and a moment’s consideration making her also sensible that it would be wisest to get it over as soon and as quietly as possible, she sat down again and tried to conceal, by incessant employment the feelings which were divided between distress and diversion. Mrs. Bennet and Kitty walked off, and as soon as they were gone, Mr. Collins began.</p>
                <button class="btn btn-block btn-primary">Learn More</button>
            </div>
        </div>             
    </section>

    <section id="juvenila">
        <h3>Juvenila</h3>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h4>Volume One</h4>
                <ul>
                    <li>Frederic & Elfrida</li>
                    <li>Jack & Alice</li>
                    <li>Edgar & Emma</li>
                    <li>Henry and Eliza</li>
                    <li>The Adventures of Mr. Harley</li>
                    <li>Sir William Mountague</li>
                    <li>Memoirs of Mr. Clifford</li>
                    <li>The Beautiful Cassandra</li>
                    <li>Amelia Webster</li>
                    <li>The Visit</li>
                    <li>The Mystery</li>
                    <li>The Three Sisters</li>
                    <li>A Beautiful Description</li>
                    <li>The Generous Curate</li>
                    <li>Ode to Pity</li>
                </ul>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
                <h4>Volume Two</h4>
                <ul>
                    <li>Love and Friendship</li>
                    <li>Lesley Castle</li>
                    <li>The History of England</li>
                    <li>A Collection of Letters</li>
                    <li>The Female Philosopher</li>
                    <li>The First Act of a Comedy</li>
                    <li>A Letter from a Young Lady</li>
                    <li>A Tour through Wales</li>
                    <li>A Tale</li>
                </ul>
            
                <h4>Volume Three</h4>
                <ul>
                    <li>Evelyn</li>
                    <li>Catherine, or The Bower</li>
                </ul>
            </div>
        </div>
    </section>

    <section id="misc">
        <h3>Other Works</h3>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <ul>
                    <li>Sir Charles Gardison</li>
                    <li>Plan of a Novel</li>
                    <li>Poems</li>
                    <li>Prayers</li>
                    <li>Letters</li>
                </ul>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
                <h3>Unfinished</h3>
                <ul>
                    <li>The Watsons</li>
                    <li>Sanditon</li>
                </ul>
            </div>
        </div>
    </section>
</div>

<%- include("partials/footer") %>