<%- include("partials/header") %>

<div class="container-fluid">
  <section id="banner">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h2 class="text-center">Jane Austen</h2>
    </div>
  </section>

  <section id="signup">
    <div class="container">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h2 class="text-center">Want to get weekly advice from Jane?</h2>
        <h3 class="text-center">Register for Jane's Advice Column here.</h3>
        
        <form>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-12 col-md-9 col-lg-9">
                <input type="text" class="form-control" name="email" placeholder="Sign Up here!">
              </div>
              
              <div class="col-sm-12 col-md-3 col-lg-3">
                <input type="button" value="Submit" class="btn form-control">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>

  <section id="new">
    <h2>What's New</h2>
    <div class="row text-center">
      <div class="col-sm-12 col-md-4 col-lg-4">
        <img src="https://m.media-amazon.com/images/M/MV5BOTJmZWIyYTctNGZiYi00ZWQzLThhYzYtMWRkZWU5NzA1ZDEyXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_SY1000_CR0,0,1436,1000_AL_.jpg" class="img-thumbnail" alt="Emma 2020 Movie Poster" />
        <h3>Emma 2020</h3>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4">
        <img src="https://m.media-amazon.com/images/M/MV5BZmRlNjkzZDYtMWQ4Ny00ZDNmLTg1NGEtNGMwZmRkNDJlMjFhXkEyXkFqcGdeQXVyNzc5Njk5ODA@._V1_.jpg" alt="Sanditon Charlotte and Sidney Parker" class="img-thumbnail" />
        <h3>Sandition</h3>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4">
        <img src="https://m.media-amazon.com/images/M/MV5BMzc2OTk3MTg1NF5BMl5BanBnXkFtZTYwNTM5Mzk2._V1_.jpg" alt="Becoming Jane Jane Austen" class="img-thumbnail" />
        <h3>Becoming Jane</h3>
      </div>
    </div>
    <button class="btn btn-block">View All</button>
  </section>

  <section id="books">
    <h2>Books</h2>
    <div class="container">
      <div class="row text-center">
        <div class="col-sm-12 col-md-4 col-lg-4 box">
          <h3>Sense and Sensibilty</h3>
        </div>
  
        <div class="col-sm-12 col-md-4 col-lg-4 box">
          <h3>Pride and Prejudice</h3>
        </div>
  
        <div class="col-sm-12 col-md-4 col-lg-4 box">
          <h3>Mansfield Park</h3>
        </div>
      </div>
  
      <div class="row text-center">
        <div class="col-sm-12 col-md-4 col-lg-4 box">
          <h3>Emma</h3>
        </div>
  
        <div class="col-sm-12 col-md-4 col-lg-4 box">
          <h3>Northanger Abbey</h3>
        </div>
  
        <div class="col-sm-12 col-md-4 col-lg-4 box">
          <h3>Persuasion</h3>
        </div>
        
        <button class="btn btn-block">View All Works</button>
      </div>
    </div>  
  </section>

  <section id="quote">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <blockquote>
        <p>"I do not want people to be very agreeable, as it saves me the trouble of liking them a great deal."</p>
        <p><cite>Jane Austen</cite></p>
      </blockquote>
    </div>
  </section>
</div>

<%- include("partials/footer") %>