<%- include("partials/header") %>

<div class="container">
  <section id="banner">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <img src="https://images.newrepublic.com/d96ad313127bcff9e3afab9cd77df7277a8afe0c.jpeg?w=1200&q=65&dpi=2.625&fm=pjpg&h=496" alt="Jane Austen Victorian Portrait" class="img-fluid">
    </div>
  </section>

  <section id="sign-up">
    <div class="col-sm-12 col-md-12 col-lg-12 text-center">
      <h3>Want to get weekly advice from Jane? Register for Jane's Advice Column here.</h3>
      <form>
        <input type="text" name="email" placeholder="Sign Up here!">
        <input type="button" value="submit">
        <p>She grew absolutely ashamed of herself. Of neither Darcy nor Wickham could she think without feeling she had been blind, partial, prejudiced, absurd.</p>
      </form>
    </div>
  </section>

  <section id="latest">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-8">
        <img src="https://m.media-amazon.com/images/M/MV5BOGRiODEzM2QtOTUyYi00MWRlLTg4MzMtZGI0YmUzNWUyMjQ0XkEyXkFqcGdeQXVyMDA4NzMyOA@@._V1_SY1000_SX675_AL_.jpg" alt="Emma 2020 poster" class="img-responsive">
      </div>
  
      <div class="col-sm-12 col-md-4 col-lg-4">
        <p>But when this subject was succeeded by his account of Mr. Wickham--when she read with somewhat clearer attention a relation of events which, if true, must overthrow every cherished opinion of his worth, and which bore so alarming an affinity to his own history of himself--her feelings were yet more acutely painful and more difficult of definition. Astonishment, apprehension, and even horror, oppressed her. She wished to discredit it entirely, repeatedly exclaiming, “This must be false! This cannot be! This must be the grossest falsehood!”--and when she had gone through the whole letter, though scarcely knowing anything of the last page or two, put it hastily away, protesting that she would not regard it, that she would never look in it again.</p>
        <button class="btn btn block btn-primary">Buy Tickets!</button>
      </div>
    </div>
  </section>

  <section id="watching">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4">
        <p>But when this subject was succeeded by his account of Mr. Wickham--when she read with somewhat clearer attention a relation of events which, if true, must overthrow every cherished opinion of his worth, and which bore so alarming an affinity to his own history of himself--her feelings were yet more acutely painful and more difficult of definition. Astonishment, apprehension, and even horror, oppressed her. She wished to discredit it entirely, repeatedly exclaiming, “This must be false! This cannot be! This must be the grossest falsehood!”--and when she had gone through the whole letter, though scarcely knowing anything of the last page or two, put it hastily away, protesting that she would not regard it, that she would never look in it again.</p>
        <buton class="btn btn block btn-primary">Learn More</buton>
      </div>

      <div class="col-sm-12 col-md-8 col-lg-8">
        <img src="https://m.media-amazon.com/images/M/MV5BOTI2NWYzZTItMjlhYy00YWY4LWE0YTktZTFiNmUzZjFlNjY1XkEyXkFqcGdeQXVyNTE1NjY5Mg@@._V1_.jpg" alt="Sanditon poster" class="img-responsive">
      </div>
    </div>
  </section>

  <section id="footer-nav">
    <h2 class="text-center">Jane Austen</h2>

    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Coming Soon</a></li>
          <li><a href="/media">Media</a></li>
        </ul>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4">
        <h4>Works</h4>
        <ul>
          <li><a href="/books">Sense and Sensibilty</a></li>
          <li><a href="/books">Pride and Prejudice</a></li>
          <li><a href="/books">Mansfield Park</a></li>
          <li><a href="/books">Emma</a></li>
          <li><a href="/books">Northanger Abbey</a></li>
          <li><a href="/books">Persuasion</a></li>
          <li><a href="/books">Juvenila</a></li>
          <li><a href="/books">Lady Susan</a></li>
        </ul>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4">
        <h4>About Jane</h4>
        <ul>
          <li><a href="/about">Biography</a></li>
          <li><a href="#">Jane Reviews</a></li>
          <li><a href="/advice">Advice</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </section>

</div>

<%- include("partials/footer") %>