<%- include("partials/header") %>

<div class="container">
  <section id="banner">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <img src="https://images.newrepublic.com/d96ad313127bcff9e3afab9cd77df7277a8afe0c.jpeg?w=1200&q=65&dpi=2.625&fm=pjpg&h=496" alt="Jane Austen Victorian Portrait" class="img-fluid">
    </div>
  </section>

  <section id="portrait">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h3>Want to get weekly advice from Jane? Register for Jane's Advice Column here.</h3>
      <form>
        <input type="text" name="email">
      </form>
    </div>
  </section>

  <section id="latest-news">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4">
        <h4>Headline</h4>
        <p>“You are considering how insupportable it would be to pass many evenings in this manner--in such society; and indeed I am quite of your opinion. I was never more annoyed! The insipidity, and yet the noise--the nothingness, and yet the self-importance of all those people! What would I give to hear your strictures on them!”</p>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4">
        <h4>Headline</h4>
        <p>“You are considering how insupportable it would be to pass many evenings in this manner--in such society; and indeed I am quite of your opinion. I was never more annoyed! The insipidity, and yet the noise--the nothingness, and yet the self-importance of all those people! What would I give to hear your strictures on them!”</p>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4">
        <h4>Headline</h4>
        <p>“You are considering how insupportable it would be to pass many evenings in this manner--in such society; and indeed I am quite of your opinion. I was never more annoyed! The insipidity, and yet the noise--the nothingness, and yet the self-importance of all those people! What would I give to hear your strictures on them!”</p>
      </div>
    </div>
  </section>
</div>

<%- include("partials/footer") %>