<%- include("partials/header") %>

<div class="container">
    <h2 class="text-center">Media</h2>
    <section id="movie">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h3>Emma 2020</h3>
                <p>“We have heard only twice. He wrote me a few lines on Wednesday to say that he had arrived in safety, and to give me his directions, which I particularly begged him to do. He merely added that he should not write again till he had something of importance to mention.”</p>

                <p>“And my mother--how is she? How are you all?”</p>

                <p>“My mother is tolerably well, I trust; though her spirits are greatly shaken. She is up stairs and will have great satisfaction in seeing you all. She does not yet leave her dressing-room. Mary and Kitty, thank Heaven, are quite well.”</p>
                <button class="btn btn-info">Buy Tickets</button>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
                <img src="https://m.media-amazon.com/images/M/MV5BOGRiODEzM2QtOTUyYi00MWRlLTg4MzMtZGI0YmUzNWUyMjQ0XkEyXkFqcGdeQXVyMDA4NzMyOA@@._V1_SY1000_SX675_AL_.jpg" class="img-fluid" alt="Emma 2020 Movie Poster" />
            </div>
        </div>
    </section>

    <section id="tv">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h3>Sanditon</h3>
                <p>“We have heard only twice. He wrote me a few lines on Wednesday to say that he had arrived in safety, and to give me his directions, which I particularly begged him to do. He merely added that he should not write again till he had something of importance to mention.”</p>

                <p>“And my mother--how is she? How are you all?”</p>

                <p>“My mother is tolerably well, I trust; though her spirits are greatly shaken. She is up stairs and will have great satisfaction in seeing you all. She does not yet leave her dressing-room. Mary and Kitty, thank Heaven, are quite well.”</p>
                <button class="btn btn-info">Check Listings</button>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
                <img src="https://m.media-amazon.com/images/M/MV5BOTI2NWYzZTItMjlhYy00YWY4LWE0YTktZTFiNmUzZjFlNjY1XkEyXkFqcGdeQXVyNTE1NjY5Mg@@._V1_.jpg" class="img-fluid" alt="Sanditon TV Show Poster" />
            </div>
        </div>
    </section>

    <section id="adapt-types">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <a href="#"><h4>Sense & Sensibilty</h4></a>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4">
                <a href="#"><h4>Pride & Prejudice</h4></a>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4">
                <a href="#"><h4>Mansfield Park</h4></a>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4">
                <a href="#"><h4>Emma</h4></a>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4">
                <a href="#"><h4>Northanger Abbey</h4></a>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4">
                <a href="#"><h4>Persuasion</h4></a>
            </div>
        </div>
    </section>
</div>

<%- include("partials/footer") %>