<%- include("partials/header") %>

<div class="container">
    <section id="latest">
        <h2>Latest Adaptation</h2>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h3>Emma</h3>
                <p>In the afternoon, the two elder Miss Bennets were able to be for half-an-hour by themselves; and Elizabeth instantly availed herself of the opportunity of making any inquiries, which Jane was equally eager to satisfy. After joining in general lamentations over the dreadful sequel of this event, which Elizabeth considered as all but certain, and Miss Bennet could not assert to be wholly impossible, the former continued the subject, by saying, “But tell me all and everything about it which I have not already heard. Give me further particulars. What did Colonel Forster say? Had they no apprehension of anything before the elopement took place? They must have seen them together for ever.”</p>

                <button class="btn btn-block btn-primary">Find Theaters</button>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
                <img src="https://m.media-amazon.com/images/M/MV5BOGRiODEzM2QtOTUyYi00MWRlLTg4MzMtZGI0YmUzNWUyMjQ0XkEyXkFqcGdeQXVyMDA4NzMyOA@@._V1_SY1000_SX675_AL_.jpg" alt="Emma 2020 poster" class="img-responsive">
            </div>
        </div>
    </section>

    <section id="sense-adapt">
        <h2>Sense and Sensibilty Adaptations</h2>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Adaptation Type</th>
                    <th>Year</th>
                    <th>Studio/Network</th>
                    <th>Director</th>
                    <th>Screenwriter</th>
                </tr>

                <tr>
                    <td>Sense and Sensibility</td>
                    <td>TV Miniseries</td>
                    <td>1971</td>
                    <td>BBC</td>
                    <td>David Giles</td>
                    <td>Denis Constanduros</td>
                </tr>

                <tr>
                    <td>Sense and Sensibility</td>
                    <td>TV Miniseries</td>
                    <td>1981</td>
                    <td>BBC</td>
                    <td>Rodney Bennett</td>
                    <td>Alexander Baron</td>
                </tr>

                <tr>
                    <td>Sense and Sensibility</td>
                    <td>Feature Film</td>
                    <td>1995</td>
                    <td>Columbia Pictures and Mirage</td>
                    <td>Ang Lee</td>
                    <td>Emma Thompson</td>
                </tr>

                <tr>
                    <td>Kandukondain Kandukondain</td>
                    <td>Feature Film</td>
                    <td>2000</td>
                    <td>Kalyani Infotech Production & 'V' Creations</td>
                    <td>Rajiv Menon</td>
                    <td>Rajiv Menon</td>
                </tr>

                <tr>
                    <td>Sense and Sensibility</td>
                    <td>TV Miniseries</td>
                    <td>2008</td>
                    <td>BBC co-production with WGBH Boston</td>
                    <td>John Alexander</td>
                    <td>Andrew Davies</td>
                </tr>

                <tr>
                    <td>From Prada to Nada</td>
                    <td>Feature Film</td>
                    <td>2011</td>
                    <td>Lionsgate</td>
                    <td>Angel Gracia</td>
                    <td>Fina Torres, Luis Alfaro, Craig Fernandex</td>
                </tr>

                <tr>
                    <td>Scents and Sensibilty</td>
                    <td>TV Movie</td>
                    <td>2011</td>
                    <td>SunWorld Pictures</td>
                    <td>Brian Brough</td>
                    <td>Brittany Wiscombe and Jennifer Brough</td>
                </tr>
            </table>
        </div>
    </section>

    <section id="pride-adapt">
        <h2>Pride and Prejudice Adaptations</h2>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Adaptation Type</th>
                    <th>Year</th>
                    <th>Studio/Network</th>
                    <th>Director</th>
                    <th>Screenwriter</th>
                </tr>

                <tr>
                    <td>Pride and Prejudice</td>
                    <td>Feature Film</td>
                    <td>1940</td>
                    <td>MGM</td>
                    <td>Robert Z. Leonard</td>
                    <td>Aldous Huxley</td>
                </tr>
            </table>
        </div>
    </section>
    
    <section id="mansfield-adapt"></section>
    <section id="emma-adapt"></section>
    <section id="northanger-adapt"></section>
    <section id="persuasion-adapt"></section>
    <section id="other-adapt"></section>
</div>

<%- include("partials/footer") %>