<%- include("partials/header") %>

<div class="container">
    <section id="latest">
        <h2>Latest Adaptation</h2>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h3>Emma</h3>
                <p>In the afternoon, the two elder Miss Bennets were able to be for half-an-hour by themselves; and Elizabeth instantly availed herself of the opportunity of making any inquiries, which Jane was equally eager to satisfy. After joining in general lamentations over the dreadful sequel of this event, which Elizabeth considered as all but certain, and Miss Bennet could not assert to be wholly impossible, the former continued the subject, by saying, “But tell me all and everything about it which I have not already heard. Give me further particulars. What did Colonel Forster say? Had they no apprehension of anything before the elopement took place? They must have seen them together for ever.”</p>
            </div>
        </div>
        
        
    </section>
    <section id="sense-adapt"></section>
    <section id="pride-adapt"></section>
    <section id="mansfield-adapt"></section>
    <section id="emma-adapt"></section>
    <section id="northanger-adapt"></section>
    <section id="persuasion-adapt"></section>
    <section id="other-adapt"></section>
</div>

<%- include("partials/footer") %>